.content
  .container-fluid
    .navbar-header
      .navbar-brand Wysyłanie nowej wiadomości
    .row
      .col-md-12
        .card
          .card-header{"data-background-color" => "purple"}
            %h4.title Nowa wiadomość
          .card-content.table-responsive
            = simple_form_for @message do |f|
              = f.input :title
              = f.input :content
              = f.input :donor, collection: @donors
              = f.button :submit
