.content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header{"data-background-color" => "purple"}
            %h4.title Nowe powiadomienie do darczyńców
          .card-content.table-responsive
            = simple_form_for @notification do |f|
              = f.input :title
              = f.input :content
              = select_tag "donors", options_from_collection_for_select(Donor.all, 'id', "name"), {multiple: true, class: "selectize"}
              = f.button :submit
